<!-- Product -->

<section class="bg0 p-t-23 p-b-140" style="background-color: #ebebd2;">
    <div class="container">
        <div class="p-b-10">
            <h3 class="ltext-103 cl5 text-white ">
                `
            </h3>
        </div>

        <div class="flex-w flex-sb-m p-b-52">
            <div class="flex-w flex-l-m filter-tope-group m-tb-10">
                <a href="/allproducts">
                    <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" data-filter="*">
                        All Products
                    </button>
                </a>


            <% category.forEach(cat=> { %>
                <a href="/allproducts?filter=<%=cat.category%>">
                     <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".(<%=cat.category%>)">
                         <%=cat.category%>
                     </button> 
                </a>
            <% }) %>


            </div>

            <div class="flex-w flex-c-m m-tb-10">
                <div class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
                    <i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
                    <i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
                    Filter
                </div>
                <!-- 
                <div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
                    <i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
                    <i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
                    Search
                </div> -->


                <!-- Search product -->
                <div class="col-search  main-menu-padding-1">
                    <form action="/search" method="post" class="searchform">
                        <div class="input-group">
                            <input list="search_terms" type="text" name="search" class="form-control"
                                placeholder="Product Name" />
                            <button class="btn btn-light bg" type="submit">
                                <i class="icon-search">Search</i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>


            
            <!-- Filter -->
            <div class="dis-none panel-filter w-full p-t-10">
                <div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">
                    <div class="filter-col1 p-r-15 p-b-27">
                        <div class="mtext-102 cl2 p-b-15">
                            Sort By
                        </div>

                        <ul>
                            <li class="p-b-6">
                                <a href="/allproducts" class="filter-link stext-106 trans-04 ">
                                    Default
                                </a>
                            </li>

                            <li class="p-b-6">
                                <a href="/allproducts?filter=newness" class="filter-link stext-106 trans-04 ">
                                    Newness
                                </a>
                            </li>

                            <li class="p-b-6">
                                <a href="/allproducts?filter=low" class="filter-link stext-106 trans-04">
                                    Price: Low to High
                                </a>
                            </li>

                            <li class="p-b-6">
                                <a href="/allproducts?filter=high" class="filter-link stext-106 trans-04">
                                    Price: High to Low
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="filter-col2 p-r-15 p-b-27">
                        <div class="mtext-102 cl2 p-b-15">
                            Price
                        </div>

                        <ul>
                            <li class="p-b-6">
                                <a href="/allproducts" class="filter-link stext-106 trans-04 ">
                                    All
                                </a>
                            </li>

                            <li class="p-b-6">
                                <a href="/allproducts?filter=6k" class="filter-link stext-106 trans-04">
                                    ₹0.00 - ₹6000.00
                                </a>
                            </li>

                            <li class="p-b-6">
                                <a href="/allproducts?filter=15k" class="filter-link stext-106 trans-04">
                                    ₹6000.00 - ₹15000.00
                                </a>
                            </li>
                            <li class="p-b-6">
                                <a href="/allproducts?filter=15kabove" class="filter-link stext-106 trans-04">
                                    ₹15000.00 above
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row isotope-grid">

            <% (products).forEach(function(pro) { %>

                <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
                    <!-- Block2 -->
                    <div class="block2">
                        <div class="block2-pic hov-img0">
                            <img src="<%=pro.image[0]%>" alt="IMG-PRODUCT">


                            <a href="/productdetails/<%=pro._id%>"
                                class="block2-btn flex-c-m quickView stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 ">
                                View More </a>

                        </div>
                        <div class="block2-txt flex-w flex-t p-t-14">

                            <div class="block2-txt-child1 flex-col-l ">
                                <a href="#" class=" stext-104 cl4 hov-cl1 trans-04
                                js-name-b2 p-b-6">
                                    <%=pro.name%>
                                </a>

                                <span class="stext-105 cl3">
                                    <% if ( pro.offer>0 ) { %>
                                     <del class="mr-2"> ₹ <%=pro.price%> </del>
                                     
                                     <strong>  ₹ <%=(pro.price-pro.offer)%> </strong>
                                     <% } else { %>
                                        ₹ <%=pro.price%> 
                                   <% }%>

                                    <% if ( pro.stock==0 ) { %>
                                        <p class="text-danger font-weight" > Out of Stock</p>
                                   <% }%>
                                </span>
                               
                                
                            </div>

                            <!-- <div class="block2-txt-child2 flex-r p-t-3">
                                <a href="/wishList" data-product="#"
                                    class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
                                    <img class="icon-heart1 dis-block trans-04"
                                        src="user_assets/images/icons/icon-heart-01.png" alt="ICON">
                                    <img class="icon-heart2 dis-block trans-04 ab-t-l"
                                        src="user_assets/images/icons/icon-heart-02.png" alt="ICON">
                                </a> 
                            </div>  -->

                        </div>
                    </div>
                </div>

                <% }) %>

        </div>


    </div>


    <div class="pagination-area mt-15 mb-50 ">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <% if (currentPage> 1) { %>
                    <li class="page-item m-1"><a class="page-link" href="?page=<%=currentPage-1%>"> < Previious <i
                                class="material-icons md-chevron_left"></i></a></li>
                    <% } %>
                        <% for (let i=1; i <=totalPages; i++) { %>
                            <li class="m-1 page-item <% if (i === currentPage) { %>active<% } %>"><a class="page-link"
                                    href="?page=<%=i%>">
                                    <%=i%>
                                </a></li>
                            <% } %>
                                <% if (currentPage < totalPages) { %>
                                    <li class="page-item m-1"><a class="page-link" href="?page=<%=currentPage+1%>">Next ><i
                                                class="material-icons md-chevron_right"></i></a></li>
                                    <% } %>
            </ul>
        </nav>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.5/pagination.min.js"></script>
    </div>



</section>