<br>
<br>
<br>


<!-- breadcrumb -->
<div class="container">
  <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
    <a href="index.html" class="stext-109 cl8 hov-cl1 trans-04">
      Home
      <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
    </a>

    <span class="stext-109 cl4">
      Orders
    </span>
  </div>
</div>

<% if (orders.length>0) { %>

  <section class="container intro mt-5 mb-5">
    <div class="gradient-custom-1 h-100">
      <div class="mask d-flex align-items-center h-100">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12">
              <div class="table-responsive bg-white">
                <table class="table mb-0">
                  <thead>
                    <tr>
                      <th scope="col">DATE</th>
                      <th scope="col">ADDRESS</th>
                      <th scope="col">AMOUNT</th>
                      <th scope="col">METHOD</th>
                      <th scope="col">STATUS</th>
                      <th scope="col">ACTION</th>
                    </tr>
                  </thead>
                  <tbody>

                    <% orders.forEach(order=> { %>

                      <tr>
                        <th>
                          <%= new Date(order.date).toLocaleDateString('en-GB', { day: '2-digit' , month: '2-digit' ,
                            year: 'numeric' }).replace(/\//g, '-' )%>
                        </th>
                        <td style="max-width: 150px;">
                          <%=order.deliveryAddress.name%>,
                            <%=order.deliveryAddress.address%>,
                              <%=order.deliveryAddress.city%>,
                                <%=order.deliveryAddress.district%>,
                                  <%=order.deliveryAddress.pincode%>,
                                    <%=order.deliveryAddress.mobile%>
                        </td>
                        <td>Rs <%=order.totalPrice%>
                        </td>
                        <td>
                          <%=order.paymentmethod%>
                        </td>
                        <td>
                          <%=order.orderstatus%>
                        </td>
                        </td>

                        <% if (order.orderstatus==="delivered" ) { %>

                          <td><a class="btn-info text-white btn-sm"
                            href="/order-product-details/<%=order._id%>">Order Details</a>
                            <button class="btn-danger btn-sm text-light"
                              onclick="returnOrder('<%=order._id%>'); event.preventDefault();">Return</button>
                          </td>
                      </tr>
                      <% } else if (order.orderstatus==="order returned" ) { %>

                        <td><a class="btn-info text-white btn-sm"
                          href="/order-product-details/<%=order._id%>">Order Details</a></td>
                        </tr>

                        <% } else if (order.orderstatus==="return pending" ) { %>

                          <td><a class="btn-info text-white btn-sm"
                            href="/order-product-details/<%=order._id%>">Order Details</a></td>
                          </tr>

                          <% } else if (order.orderstatus==="order cancelled" ) { %>

                            <td><a class="btn-info text-white btn-sm"
                              href="/order-product-details/<%=order._id%>">Order Details</a></td>
                            </tr>

                            <% } else { %>

                              <td><a class="btn-info text-white btn-sm"
                                  href="/order-product-details/<%=order._id%>">Order Details</a>
                                <button class="btn-danger btn-sm text-light"
                                  onclick="cancelOrder('<%=order._id%>'); event.preventDefault();">Cancel</button>
                              </td>
                              </tr>

                              <% } %>

                                <% } )%>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <% } else { %>

   
     
        <div style="text-align: center;" class="pt-5 pb-5">
            <h3 style="font-size: 24px; color: #333; margin-bottom: 20px;">No Orders History!</h3>
            <h4 style="font-size: 18px; color: #666; margin-bottom: 20px;">Your orders history will appear here </h4>
            <h3 style="margin-bottom: 20px;">
                <span class="pb-5">
                    <a class="btn btn-warning mt-3" href="/allproducts"
                        style="display: inline-block; background-color: #ffc107; color: #fff; padding: 10px 20px; border-radius: 5px; text-decoration: none; font-size: 16px;">Go
                        to SHOP</a>
                </span>
            </h3>
        </div>
       

      <% } %>






      <script>

        function returnOrder(id) {
          Swal.fire({
            title: 'Do you want return the order?',
            showDenyButton: true,
            confirmButtonText: 'Return',
            denyButtonText: `Cancel`,
          }).then((result) => {
            if (result.isConfirmed) {
              $.ajax({
                url: `/return-order/${id}`,
                method: 'get',
                success: (response) => {
                  // window.location.href = '/orders'
                  location.reload()
                }
              })
              Swal.fire('Order Returned !', '', 'success')
            } else if (result.isDenied) {
              Swal.fire('Cancelled', '', 'info')
            }
          })
        }

        function cancelOrder(id) {
          Swal.fire({
            title: 'Do you want cancel the order?',
            showDenyButton: true,
            confirmButtonText: 'Yes',
            denyButtonText: `No`,
          }).then((result) => {
            if (result.isConfirmed) {
              $.ajax({
                url: `/cancel-order/${id}`,
                method: 'get',
                success: (response) => {
                  // window.location.href = '/orders'
                  location.reload()
                }
              })
              Swal.fire('Order Cancelled !', '', 'success')
            } else if (result.isDenied) {
              Swal.fire('Cancelled', '', 'info')
            }
          })
        }

      </script>