<!-- Product Detail -->
<br>
<br>
<br>
<section class="sec-product-detail bg0 p-t-65 p-b-60">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-6 p-b-30">
        <div class="p-l-25 p-r-30 p-lr-0-lg">
          <div class="wrap-slick3 flex-sb flex-w">
            <div class="wrap-slick3-dots"></div>
            <div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

            <div class="slick3 gallery-lb">
              <div class="item-slick3 zoomable" data-thumb="<%=product.image[0]%>">
                <div class="wrap-pic-w pos-relative">
                  <img src="<%=product.image[0]%>" alt="IMG-PRODUCT">

                  <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04"
                    href="<%=product.image[0]%>">
                    <i class="fa fa-expand"></i>
                  </a>
                </div>
              </div>

              <div class="item-slick3 zoomable" data-thumb="<%=product.image[1]%>">
                <div class="wrap-pic-w pos-relative">
                  <img  src="<%=product.image[1]%>" alt="IMG-PRODUCT">

                  <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04"
                    href="<%=product.image[1]%>">
                    <i class="fa fa-expand"></i>
                  </a>
                </div>
              </div>

              <div class="item-slick3" data-thumb="<%=product.image[2]%>">
                <div class="wrap-pic-w pos-relative">
                  <img src="<%=product.image[2]%>" alt="IMG-PRODUCT">

                  <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04"
                    href="<%=product.image[2]%>">
                    <i class="fa fa-expand"></i>
                  </a>
                </div>
              </div>

              <div class="item-slick3" data-thumb="<%=product.image[3]%>">
                <div class="wrap-pic-w pos-relative">
                  <img src="<%=product.image[3]%>" alt="IMG-PRODUCT">

                  <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04"
                    href="<%=product.image[3]%>">
                    <i class="fa fa-expand"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-5 p-b-30">
        <div class="p-r-50 p-t-5 p-lr-0-lg">
          <h4 class="mtext-105 cl2 js-name-detail p-b-14">
            <%=product.name%>
          </h4>

          <span class="mtext-106 cl2">
            Rs <%=product.price%>
          </span>

          <p class="stext-102 cl3 p-t-23 mb-3``">
            <%=product.description%>
          </p>

          <!--  -->


          <div class="flex-w flex-r-m p-b-10">
            <div class="size-204 flex-w flex-m respon6-next">

              <% if ( locals.user ) { %>
                <button
                  class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail js-addcart-btn btn-addcart-btn mt-3"
                  type="submit" onclick="addToCart('<%= product._id %>')" id="addToCart"
                  data-product="<%= product._id %>">
                  Add to cart
                </button>
                <% } else { %>
                  <a href="/login"
                    class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail js-addcart-btn btn-addcart-btn mt-3">
                    Add to cart
                  </a>
                  <% } %>

            </div>
          </div>
        </div>

        <!--  -->
        <div class="flex-w flex-m p-l-100 p-t-40 respon7">
          <div class="flex-m bor9 p-r-10 m-r-11">
            <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 js-addwish-detail tooltip100"
              data-tooltip="Add to Wishlist">
              <i class="zmdi zmdi-favorite"></i>
            </a>
          </div>

          <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Facebook">
            <i class="fa fa-facebook"></i>
          </a>

          <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Twitter">
            <i class="fa fa-twitter"></i>
          </a>

          <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100"
            data-tooltip="Google Plus">
            <i class="fa fa-google-plus"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="path/to/jquery.zoom.min.js"></script>

  <!-- jQuery library
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    jQuery Zoom library
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-zoom/1.7.21/jquery.zoom.min.js"></script>  -->

  <script>
    $(document).ready(function () {
      $('.zoomable').zoom({
        zoomType: 'inner',
        cursor: 'crosshair'
      });
    });
  </script>



 <script>

    $('.js-addcart-detail').each(function () {
      var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
      $(this).on('click', function () {
        Toastify({
          text: ' Product added to cart !',
          duration: 1500,
          gravity: "top",
          position: "center",
          backgroundColor: "linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%)",
          stopOnFocus: true,
          close: false,
        }).showToast();
      });
    });
  </script> 

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"
    integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script>

    function addToCart(proId) {
      // console.log("api call prod details first page");
      $.ajax({
        url: '/addToCart/' + proId,
        method: "get",
        success: (response) => {
          if (response.status) {
            let count = $("#cart_count").html()
            count = parseInt(count) + 1
            $("#cart_count").html(count)
            $("#cartTcount").load(location.href + " #cartTcount");

          }
        }
      })
    }

  </script>