<br>
<br>
<br>


<!-- breadcrumb -->
<div class="container">
  <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
    <a href="/" class="stext-109 cl8 hov-cl1 trans-04">
      Home
      <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
    </a>

   <a href="/userprofile/<%=user._id%>">
    <span class="stext-109 cl4">
      My Profile
      <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
    </span>
   </a> 

    <span class="stext-109 cl4">
      Wallet History
    </span>
  </div>
</div>
<% if(walletOrders.length) {%>

  <% if (walletOrders) { %>

    <section class="container intro mt-5 mb-5">
      <div class="gradient-custom-1 h-100">
        <div class="mask d-flex align-items-center h-100">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-12">
                <div class="table-responsive bg-white">
                  <table class="table mb-0">
                    <thead>
                      <tr>
                        <th scope="col">DATE</th>
                        <th scope="col">Order Status</th>
                        <th scope="col"> Payment</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Order details</th>
                      </tr>
                    </thead>
                    <tbody>

                      <% walletOrders.forEach(order=> { %>

                        <tr>
                          <th>
                            <%= new Date(order.date).toLocaleDateString('en-GB', { day: '2-digit' , month: '2-digit' ,
                              year: 'numeric' }).replace(/\//g, '-' )%>
                          </th>
                          <td>
                            <%=order.orderstatus%>
                          </td>
                          <td>
                            <%=order.paymentmethod%>
                          </td>

                          <td>
                            <% if (
                              (order.paymentmethod === 'Cash on delivery' && order.orderstatus === 'order returned') ||
                              (order.paymentmethod === 'Razorpay' && (order.orderstatus === 'order returned' || order.orderstatus === 'order cancelled')) ||
                              (order.paymentmethod === 'Wallet' && (order.orderstatus === 'order returned' || order.orderstatus === 'order cancelled'))
                            ) { %>
                              <div class="text-success"> <strong>  <%= order.totalPrice %>₹  </strong> </div>
                            
                            <% } else if (order.paymentmethod === 'Wallet') { %>
                              <div class="text-danger"> <strong>  -<%= order.totalPrice %>₹  </strong></div>

                            <% } else { %>
                              ₹ <%= order.totalPrice %>
                            <% } %>
                          </td>
                          

                          </td>
                          <td><a href="/order-product-details/<%=order._id%>"> View More</a>
                          </td>

                        </tr>


                        <% } )%>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <% } %>


      <% } else { %>

       
          <div style="text-align: center;"  class="pt-5 pb-5">
              <h3 style="font-size: 24px; color: #333; margin-bottom: 20px;">No Wallet History!</h3>
              <h4 style="font-size: 18px; color: #666; margin-bottom: 20px;">Your wallet history will appear here </h4>
              <h3 style="margin-bottom: 20px;">
                  <span class="pb-5">
                      <a class="btn btn-warning mt-3" href="/allproducts"
                          style="display: inline-block; background-color: #ffc107; color: #fff; padding: 10px 20px; border-radius: 5px; text-decoration: none; font-size: 16px;">Go
                          to SHOP</a>
                  </span>
              </h3>
          </div>
         

        <% } %>