


<section class="container">
  <div class="col-9">
    <div class="content-header">
      <h2 class="content-title mt-4">Product Lists</h2>
    </div>
  </div>
  <div class="row">
    <div class=" d-flex"><a href="/admin/addproducts" class="btn btn-success ms-auto">Add New Products</a></div>
  </div>

  <div class="mt-4">
    <table class="table mt-4 display"  id="productsTable"  >
      <thead>
        <tr>
          <th scope="col">No</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Stock</th>
          <th scope="col">Category</th>
          <th scope="col">Price</th>
          <th scope="col">Image</th>
          <th scope="col">Status</th>
          <th scope="col">Action</th>

        </tr>
      </thead>

      <tbody>
          <% products.forEach(function(pro, index) { %>

          <tr>
            <td>
              <%= [index + 1] %>
            </td>
            <td>
              <%= pro.name %>
            </td>
            <td>
              <%= pro.description %>
            </td>
            <td>
              <%= pro.stock %>
            </td>
            <td>
              <%= pro.category %>
            </td>
            <td>
              Rs.<%= pro.price %>
            </td>
           
            <td>
              <img src="<%= pro.image[0] %>" alt="" srcset="" style=" height: 55x; width: 55px;">
            </td>
            <td>
              <% if ( pro.status ) { %>
                <span class="badge rounded-pill alert-success">Active</span>
                <% } else { %>
                  <span class="badge rounded-pill alert-danger">inactive</span>
                  <% } %>
            </td>
            <td>
              <a href="/admin/edit_product/<%=pro._id%>" class="btn btn-warning mb-1"> Edit</a> <br>
              <% if (pro.status) { %>
                <a href="/admin/block_product/<%=pro._id%>" class="btn btn-danger"> Unlist</a>
              <% } else { %>
                <a href="/admin/unblock_product/<%=pro._id%>" class="btn btn-secondary"> List</a>
              <% } %>
            </td>
          </tr>
          <% }) %>



      </tbody>

    </table>
  </div>



</section>

<!-- <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
<script>
    $(document).ready( function () {
      $('#productsTable').DataTable();
  } );
</script> -->


<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>  
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>

<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.print.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.colVis.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.70/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.70/vfs_fonts.js"></script>

<script>

  $(function () {
    $('#Table').DataTable({
      dom: 'Bfrtip',
      buttons: [
        'copy', 'csv', 'excel', 'pdf', 'print'
      ]
    });
  });

</script>